<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Weekly Bosses</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv4.min.js"></script>
    <script type='text/javascript' src="js/glitch.js"></script>
</head>
<body>
<header class="blue">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="andrius">Andrius</a></li>
        </ul>
    </nav>

    <div class="yellow-label">
        <h1 class="align_center">{{text}}</h1>
    </div>
</header>

{{{body}}}
<footer class="blue">

    <div class="width_75">
        <p>
            Good luck to you!
        </p>
    </div>
    <div class="yellow-label left_sided">
        <h1>GENSHIN IMPACT</h1>
    </div>
</footer>
</body>
</html>



